	<!-- main navigation bar -->

    <header>
        <nav>
            <div class="container">
              <div class="logo"><a href="#"><img class="mb-3" width="180" src="assets/img/logo.png"></a></div>
              <label for="btn" class="icon responsive_bar">
                <!-- <span class="fa fa-bars"></span> -->
                <i class="fas fa-ellipsis-v"></i>
              </label>
              <input type="checkbox" id="btn">
              <ul class="main_manu">
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About us</a></li>
                <li>
                  <label for="btn-1" class="show">Services +</label>
                  <a href="#services">Services +</a>
                  <input type="checkbox" id="btn-1">
                  <ul>
                    <li><a class="sub_manu" href="#services">Industrial Training & placement support</a></li>
                    <li><a class="sub_manu" href="#services">Academic Consultancy</a></li>
                    <li><a class="sub_manu" href="#services">In-House Software Development</a></li>
                  </ul>
                </li>
                <li><a href="#careers">Careers</a></li>
                <li><a href="#contact">Contact</a></li>
              </ul>
            </div>
        </nav>
    </header>
