<!-- services two -->

    <div class="position-relative">
        <img class="w-100 services_bg" src="assets/img/services-bg.jpg">
        <div class="position-absolute service_second">
            <div class="container text-center">
                <h1>OUR <span>MISSION</span></h1>
                <p>To provide quality software products with emerging tools and technologies to satisfy client's need and deliver product in time with competitive price and provide first hand industry exposure to the students.</p>
            </div>
        </div>
    </div>
