
		<!-- services -->

		<section id="services" style="background-color: #f7f7f7;">
			<div style="padding: 50px 0 100px 0;">
				<div class="container">
					<p class="text-center subtitle">our services</p>
					<h1 class="text-center title">What Do We Offer</h1>
					<div class="row md">
						<div class="col-lg-4 col-12">
							<div class="card">
								<div class="text-center">
									<img src="assets/img/icons/card1.png">
									<h3>Industrial Training & placement support</h3>
									<ul>
										<li><a class="Courses_extra_highlight" href="assets/img/Upcoming_Courses.jpg">Upcoming Courses</a></li>
										<li><a class="Courses_extra_highlight" href="assets/img/Ongoing_Courses.jpeg">Ongoing Courses</a></li>
										<li><a href="../../templates/web-technologies.html">Web Technologies</a></li>
										<li><a href="../../templates/mobile-technologies.html">Mobile Technologies</a></li>
										<li><a href="../../templates/Analytics.html">Analytics</a></li>
										<!-- <li>PHP & MySql</li>
										<li>ASP.Net,SQL</li>
										<li>Python Analytics</li>
										<li>Machine learning with Matlab</li>
										<li>JAVA, J2EE</li>
										<li>Web Designing (HTML, CSS, Photoshop)</li>
 -->									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-12 mm">
							<div class="card h-100">
								<div class="text-center">
									<img class="hd" src="assets/img/icons/card2.png">
									<h3>Academic Consultancy</h3>
									<ul>
										<li><a href="#">Final year project assistance</a></li>
										<li><a href="#">Thesis assistance</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-12 mm">
							<div class="card h-100">
								<div class="text-center">
									<img class="hd" src="assets/img/icons/card3.png">
									<h3>In-House Software Development</h3>
									<ul>
										<li><a href="#">Web Development</a></li>
										<li><a href="#">Apps Development</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
