<!-- Ongoing Courses -->

<section style="background: #d5f1e4;">
    <div class="Ongoing_Courses">
        <h1 class="text-center mb-3">Success Story</h1>
        <hr class="courses_hr">
        <!-- <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12 mb-5 new-gapp">
                    <div class="courses_card bg-light">
                        <div class="courses_img"><img class="w-100" src="img/Upcoming_Courses.jpg"></div>
                        <div class="courses_text text-center">
                            <h2>Upcoming Courses</h2>
                        </div>
                        <a data-bs-toggle="modal" data-bs-target="#staticBackdrop">Enroll Now</a>
                       Button trigger modal -->

                        <!-- Modal -->
                        <!--<div class="modal fade modal_new" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Contact Details</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                  <p>Whats app at: </p>
                                  <a class="modal_number">8910045833 (Whats app only)</a>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="modal_close" data-bs-dismiss="modal">Close</button>
                                <a class="modal_understood">Text Now</a>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12 mb-5 new-gapp">
                    <div class="courses_card bg-light">
                        <div class="courses_img"><img class="courses_img w-100" src="img/Ongoing_Courses.jpeg"></div>
                        <div class="courses_text text-center">
                            <h2>Ongoing Courses</h2>
                        </div>
                        <a href="web-technologies.html">Read more</a>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="container">
            <div class="owl-carousel owl-theme">
                <div class="item"><img src="assets/img/ss-1.jpg"></div>
                <div class="item"><img src="assets/img/ss-2.jpg"></div>
                <div class="item"><img src="assets/img/ss-3.jpg"></div>
                <div class="item"><img src="assets/img/ss-4.jpg"></div>
                <div class="item"><img src="assets/img/ss-5.jpg"></div>
                <div class="item"><img src="assets/img/ss-6.jpg"></div>
                <div class="item"><img src="assets/img/ss-7.jpg"></div>
                <div class="item"><img src="assets/img/ss-8.jpg"></div>
            </div>
        </div>
    </div>
</section>
