<!-- top navigation bar -->

		<!-- <div id="home" class="container top" style="text-align: right; padding: 25px 0;">
			<div class="top_call" style="display: inline-block;">
				<a href="#"><span><img src="img/icons/call.png"></span>(+91) 8910045833</a>
			</div>
			<div class="top_nav_icons">
				<p>Follow us: </p>
				<a class="top_icons top_fb" href="#"><i class="fab fa-facebook-f"></i></a>
				<a class="top_icons" href="#"><i class="fab fa-instagram"></i></a>
				<a class="top_icons" href="#"><i class="fab fa-linkedin-in"></i></a>
			</div>
		</div> -->
