<!-- about section -->

<section id="about" style="background: #e2f1cf;">
    <div class="container padd">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="about">
                    <h1>About us</h1>
                    <p>Founded in August, 2017 Topstack is group of vibrant inquisitive mind ventured on the array of technical education and software development to zero down the gap of academic education and industry needs. Our integrated in-house software development and technical training programme is perfect model fit to equip resources with latest technology trends.</p>
                    <a href="#">Learn more</a>
                </div>
            </div>
            <div class="col-lg-6 col-12 mission">
                <img class="w-100" src="assets/img/about_img.png">
            </div>
        </div>
    </div>
</section>
