<!-- contact us -->

<section id="contact">
    <div>
        <h2 class="text-center contact_title">Get In Touch With Us</h2>
        <p class="text-center contact_title_subtitle">Feel Free To Contact Us</p>
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-4 col-12 text-center mb-5">
                    <div class="contact_details">
                        <img src="assets/img/icons/location.png">
                        <h2 class="mt-5">Meet Us</h2>
                        <a href="#">Chinsurah, Hooghly, West Bengal.</a>
                    </div>
                </div>
                <div class="col-md-4 col-12 text-center mb-5">
                    <div class="contact_details contact_call">
                        <img src="assets/img/icons/call_contact.png">
                        <h2 class="mt-5">Call Us</h2>
                        <a href="tel:9876543210">phone: (+91) 8910045833</a>
                    </div>
                </div>
                <div class="col-md-4 col-12 text-center mb-5">
                    <div class="contact_details">
                        <img src="assets/img/icons/msg.png">
                        <h2 class="mt-5">Mail Us</h2>
                        <a href="mailto:Example@gmail.com">info@topstack.co.in</a>
                    </div>
                </div>
            </div>
            <!--<h2 class="text-center contact_form">Send Us A Message</h2>
             <div>
                <div class="mt-4 container">
                    <div class="row">
                        <div class="col-md-12 mb-md-0 mb-5">
                            <form id="contact-form" name="contact-form" action="" method="POST">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="md-form mb-5">
                                            <input type="text" id="name" name="name" class="form-control" placeholder="Name*">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="md-form mb-5">
                                            <input type="text" id="email" name="email" class="form-control" placeholder="Email ID*">
                                        </div>
                                    </div> 
                                </div>
                                <div class="row"> 
                                    <div class="col-12">
                                        <div class="md-form mb-5">
                                            <input type="text" id="subject" name="subject" class="form-control" placeholder="Mobile No*">
                                        </div>
                                    </div>
                                </div>
                                <div class="row"> 
                                    <div class="col-12">
                                        <div class="md-form mb-5">
                                            <input type="text" id="subject" name="subject" class="form-control" placeholder="Subjects*">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="md-form mb-5">
                                            <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea" placeholder="Messages*"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="text-center text-md-left">
                                <a class="btn w-100">Send message</a>
                            </div>
                            <div class="status"></div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>
<section class="position-relative" style="background: #f9f9f9;" id="gtco-footer">
    <div class="container career_section mb-5" id="careers">
        <h1 class="text-center mb-5" style="color: #8dc63a;font-size: 45px;">Careers</h1>
        <div class="myCard">
            <div class="row main_career">
                <div class="col-md-6 col-6">
                    <div class="myLeftCtn" id="contact">
                        <form class="myForm text-center">
                            <header>Drop your CV Here!</header>
                            <input type="text" class="form-control" placeholder="Full Name">
                            <input type="email" class="form-control" placeholder="Email Address">
                            <div class="custom-file-upload">
                                <!-- actual upload which is hidden -->
                                <input type="file" id="actual-btn" hidden/>

                                <!-- our custom upload button -->
                                <label class="choose_file" for="actual-btn">Choose File</label>

                                <!-- name of file chosen -->
                                <span id="file-chosen">No file chosen</span>
                            </div>
                            <a href="#" class="submit-button">SUBMIT <i class="fa fa-angle-right" aria-hidden="true"></i></a>

                        </form>
                    </div>
                </div>
                <div class="col-md-6 col-12" style="margin-top: 0px;">
                    <div class="myRightCtn">
                        <div class="box">
                            <img src="assets/img/white-logo.png">
                            <p>Founded in August, 2017 Topstack is group of vibrant inquisitive mind ventured on the array of technical education and software development to zero down the gap of academic education and industry needs. Our integrated in-house software development and technical training programme is perfect model fit to equip resources with latest technology trends.</p>
                                <a href="#about">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
