<!-- testimonials -->

<section id="testimonials" style="background: #f7f7f7;">
    <div class="testimonials">
        <h1 class="text-center feedback_title">Testimonials</h1>
        <hr class="courses_hr">
        <div class="container">
            <div id="carouselExampleInterval" class="carousel slide feedback_carousel" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                  <div class="row">
                      <div class="col-6">
                          <img class="w-100" src="assets/img/feedback_img_2.png">
                      </div>
                      <div class="col-6">
                          <div style="margin-top: 35%;">
                              <p class="text-left feedback_txt" style="font-size: 26px;">"Lorem Ipsum is simply dummy text of the printing and typesetting industry."</p>
                              <p class="feedback_user">- Lorem Ipsum, ICA</p>
                          </div>
                      </div>
                  </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                  <div class="row">
                      <div class="col-6">
                          <img class="w-100" src="assets/img/feedback_img_2.png">
                      </div>
                      <div class="col-6">
                          <div style="margin-top: 35%;">
                              <p class="text-left feedback_txt" style="font-size: 26px;">"Lorem Ipsum is simply dummy text of the printing and typesetting industry."</p>
                              <p class="feedback_user">- Lorem Ipsum, CEO</p>
                          </div>
                      </div>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
        </div>
    </div>	
</section>
